/* styles.css */
@import url(https://dl.dropboxusercontent.com/u/15746367/fonts/carmela/style.css);
@import url(https://fonts.googleapis.com/earlyaccess/alefhebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);

body {
    font-family: 'Open Sans Hebrew Condensed', serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
	direction: rtl;
    text-align: right;
}

header {
    background: rgb(187, 186, 159);
    padding: 10px 0;
    text-align: center;
    position: relative;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 10px 15px;
    display: inline-block;
	font-size: 1.2em;

}

#navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(220, 218, 181);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
}

h1 {
    color: #333;
}
h2 {
    color: #333;
}

p {
    color: #666;
}

.profile-picture {
    float: left;
    margin-left: 300px;
	margin-top: 50px;
	position: left;
}

.profile-picture img {
    border-radius: 100%;
    width: 350px; 
    height: 350px; 
    border: 2px solid rgb(0, 0, 0); /* Border color and thickness */
}

.about-me-content {
    overflow: hidden; /* Clear floating elements */
}

.about-me-text {
    overflow: hidden; /* Clear floating elements */
	font-size: 1.3em;
	margin-right: 80px;
}


.photos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; 
    margin: 60px 0;
}

.photos-text {
	overflow: hidden;
    font-size: 1.2em;
	margin-right: 80px;
}

.photos {
    display: flex;
    flex-wrap: wrap;
	margin-top: 100px;
    gap: 150px; 
}

.photos img {
    width: 350px; 
    height: 350px;
}

.photos img:nth-child(2) {
    margin-top: 200px; 
}

.song-container {
	overflow: hidden; /* Clear floating elements */
	font-size: 1.3em;
	margin-right: 80px;
}

.videos {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
    gap: 20px; 
}

.videos iframe {
    flex: 1;
    max-width: 30%; 
    height: auto;
}

#like {
    overflow: hidden; /* Clear floating elements */
	font-size: 1.3em;
	margin-right: 80px;
	margin-bottom: 20px;
}

#like-button {
    background-color: #ffffff;
    border: 2px solid rgb(0, 0, 0); /* Border color and thickness */
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

#like-button:hover {
    background-color: #ffaa00;
}

#like-count {
    font-size: 18px;
    color: #333;
}

#qrcode {
    text-align: center;
    margin: 50px 0;
}

.qrcode-container {
    display: inline-block;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

#qrcode h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

#qrcode p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}

#qr-code-image {
    width: 200px; /* Adjust the size as needed */
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


